#body{
    height:100vh; 
    background-image: url(https://images.pexels.com/photos/1793037/pexels-photo-1793037.jpeg?cs=srgb&dl=pexels-lilartsy-1793037.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}